<% content_for :head do %>
  <%= javascript_include_tag "/correo_plantillas" %>

<% end %>
<%= form_for(@correo_plantilla) do |f| %>
  <% if @correo_plantilla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@correo_plantilla.errors.count, "error") %> prohibited this correo_plantilla from being saved:</h2>

      <ul>
      <% @correo_plantilla.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :asunto %><br />
    <%= f.text_field :asunto %>
  </div>

  <div>
    <a class="saludo" href="#" >Saludo</a>

  </div>
  <div class="field">
    <%= f.label :mensaje %><br />
    <%= f.text_area :mensaje %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
